<div class="main">
	<!-- Header -->
	<div class="width-1">
		<div class="button-l border-1">Load Json (ToDo)</div>
	</div>
	<hr>
	<div class="width-1">
		<div class="button-l border-1"
			 (click)="SaveChanges()">Save (ToDo)</div>
		<div class="button-l border-1">Cancel (ToDo)</div>
	</div>
	<!-- Root Settings -->
	<hr>
	||||||Add root settings here|||||
	<!-- List of Groups -->
	<hr>
	<app-group-edit *ngFor="let group of loadedGroups"
					class="flex full-width-1"
					[(Group)]="group"></app-group-edit>
	<!-- Footer -->
	<div class="width-1">
		<div class="button-l border-1"
			 (click)="AddNewGroup()">Add Group</div>
		<hr>
		<div class="button-l border-1"
			 (click)="SaveChanges()">Save (ToDo)</div>
		<div class="button-l border-1">Cancel (ToDo)</div>
	</div>
</div>