<div class="main group">
	<div class="title">
		<h1>Character Creator Test</h1>
	</div>
	<br>
	<div class="group-1">
		<div class="title">
			<h3>Gender</h3>
		</div>
		<div></div>
		<app-option-item *ngFor="let gender of genders"
						 [Option]="gender"
						 class="option center"></app-option-item>
		<!-- <app-option-item class="option center" OptionText="Male"></app-option-item>
		<app-option-item class="option center" OptionText="Female"></app-option-item> -->
	</div>
	<div class="group-2">
		<div class="title">
			<h3>Hair Color</h3>
		</div>
		<div class="option center">
			<span>Blond</span>
		</div>
		<div class="option center">
			<span>Brunette</span>
		</div>
		<div class="option center">
			<span>Redhead</span>
		</div>
		<div class="option center">
			<span>Pink</span>
		</div>
		<div class="option center">
			<span>Blue</span>
		</div>
		<div class="option center">
			<span>Rainbow</span>
		</div>
	</div>
	<div class="group-2">
		<div class="title">
			<h3>Eye Color</h3>
		</div>
		<div class="option center">
			<span>Red</span>
		</div>
		<div class="option center">
			<span>Blue</span>
		</div>
		<div class="option center">
			<span>Green</span>
		</div>
		<div class="option center">
			<span>Brown</span>
		</div>
		<div class="option center">
			<span>Yellow</span>
		</div>
		<div class="option center">
			<span>Pink</span>
		</div>
		<div class="option center">
			<span>Purple</span>
		</div>
		<div class="option center">
			<span>Multicolor</span>
		</div>
	</div>
</div>