<div class="main group">
	<div class="title">
		<h1>Character Creator Test</h1>
	</div>
	<br>
	<div class="group-1">
		<div class="title">
			<h2>Gender</h2>
		</div>
		<app-option-item *ngFor="let gender of this.genders"
						 [Option]="gender"
						 class="option center"></app-option-item>
	</div>
	<div class="group-1">
		<div class="title">
			<h2>Hair Color</h2>
		</div>
		<app-option-item *ngFor="let hair of this.hairColors"
						 [Option]="hair"
						 class="option center"></app-option-item>
	</div>
	<div class="group-1">
		<div class="title">
			<h2>Eye Color</h2>
		</div>
		<app-option-item *ngFor="let eye of this.eyeColors"
						 [Option]="eye"
						 class="option center"></app-option-item>
	</div>
	<div class="group-1">
		<div class="title">
			<h2>Body Type</h2>
		</div>

		
	</div>
	<div class="group-1">
		<div class="title">
			<h2>Origin</h2>
		</div>

		Countryside
		Big City
		Slums
		Hermit
	</div>
	<div class="group-1">
		<div class="title">
			<h2>Skills</h2>
		</div>

		
	</div>
</div>