/* body {
	background-color: black;
	color: white;
} */

* {
	box-sizing: border-box;
}

input[type="text"],
input[type="number"],
textarea,
label {
	font-size: 14px;
}

input[type="text"],
textarea,
label,
h1,
h2,
h3,
h4,
h5 {
	font-family: sans-serif;
}

.main {
	width: 95%;
	max-width: 1600px;
	margin-left: auto;
	margin-right: auto;
}

[class*="header"] {
	width: calc(100% - 2px);
	align-self: stretch;
	text-align: center;
}

.header-title {
	font-size: 26px;
}

.header-text {
	font-size: 18px;
}

.flex {
	display: flex;
	flex-wrap: wrap;
	align-self: flex-start;
	align-items: center stretch;
}

[class*="group"] {
	display: flex;
	flex-wrap: wrap;
	align-self: flex-start;
	align-items: center stretch;
	padding: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.center {
	text-align: center;
}

.border-1 {
	border-style: solid;
	border-width: 1px;
	border-color: black;
}

.button {
	display: inline-block;
	background-color: rgb(0, 140, 255);
	text-align: center;
	text-decoration: none;
	min-width: 30px;
	margin: 1px;
	padding: 10px 20px;
	cursor: pointer;
	user-select: none;
}

.selected {
	background-color: lightblue;
}

.disabled {
	background-color: gray;
}

.no-highlight {
	user-select: none;
}