<div *ngIf="!isGroup"
	 class="full-width-1 vertical-margin-5">
	<label class="full-width-1">Traits</label>
	<br />
	<input type="text"
		   name="Traits"
		   id="Traits"
		   class="full-width-1"
		   [(ngModel)]="optionGroup.Traits">
</div>
<div class="full-width-1 vertical-margin-5">
	<label class="full-width-1">Traits Needed To Be Enabled</label>
	<br />

</div>
<div class="full-width-1 vertical-margin-5">
	<label class="full-width-1">Traits Preventing Being Enabled</label>
	<br />
	
</div>
<div class="full-width-1 vertical-margin-5">
	<label class="full-width-1">Traits Needed To Be Visible</label>
	<br />
</div>
<div class="full-width-1 vertical-margin-5">
	<label class="full-width-1">Traits Preventing Being Visible</label>
	<br />
</div>