<!---------------->
<!-- Group Item -->
<!---------------->
<div class="group full-width-1 border-1">
	<!-- Group Title -->
	<div class="vertical-margin-5 center no-highlight"
		 style="flex: 9; cursor: pointer;"
		 (click)="expandGroup()">
		<h2>{{ group.Title || "{ Unnamed }" }}</h2>
	</div>
	<div class="vertical-margin-5 center no-highlight "
		 style="flex: 1; cursor: pointer; align-content: center;"
		 (click)="expandGroup()">
		<img [src]="this.expanded ? this.minusIcon : this.plusIcon"
			 width="25px">
	</div>

	@if (this.expanded) {
	<!-- Group Title Input -->
	<div class="full-width-1 vertical-margin-5">
		<label class="width-1">Title</label>
		<br />
		<input type="text"
			   class="full-width-1"
			   [(ngModel)]="group.Title">

	</div>
	<!-- Group Header -->
	<div class="full-width-1 vertical-margin-5">
		<label class="width-1">Header</label>
		<br />
		<textarea name="HeaderText"
				  id="HeaderText"
				  class="full-width-1"
				  style="height: 150px; resize: vertical;"
				  [(ngModel)]="group.HeaderText"></textarea>
	</div>
	<!-- Group Selection Limit -->
	<div class="full-width-1 vertical-margin-5">
		<label class="width-1">Selection Limit</label>
		<br />
		<input type="number"
			   class="full-width-5"
			   [(ngModel)]="group.SelectionLimit">
	</div>
	<!-- Group Traits -->
	<div class="full-width-1 vertical-margin-5">
		<app-item-traits [(Item)]="group"></app-item-traits>
	</div>
	<!------------------>
	<!-- Option Items -->
	<!------------------>
	<div class="full-width-1 center">
		<h2>Options</h2>
	</div>

	<!-- <div *ngFor="let option of group.OptionItems"
		 class="option-2 border-1">

		<div class="full-width-1 vertical-margin-5">
			<label>Title
			</label>
			<br />
			<input type="text"
				   name="Title"
				   id="Title"
				   class="full-width-1"
				   [(ngModel)]="option.OptionTitle">
		</div>
		<div class="full-width-1 vertical-margin-5">
			<label class="full-width-1">Option Text
			</label>
			<br />
			<textarea name="HeaderText"
					  id="HeaderText"
					  class="full-width-1"
					  style="resize: vertical; height: 50px;"
					  [(ngModel)]="option.OptionText"></textarea>
		</div>
		<div class="full-width-1 vertical-margin-5">
			<label class="full-width-1">Traits
			</label>
			<br />
			<input type="text"
				   name="Traits"
				   id="Traits"
				   class="full-width-1"
				   [(ngModel)]="option.Traits">
		</div>
		<div class="width-1 vertical-margin-5">
			<div *ngIf="option.HasImage"
				 class="clearBorder center image-control"
				 [style.height]="option.MaxHeight + 'px'"
				 [style.width]="option.MaxHeight + 'px'">
				<img src="{{ option.ImageURL }}"
					 alt="{{ option.ImageText }}">
			</div>
		</div>
	</div> -->

	<app-option-edit *ngFor="let option of group.OptionItems"
					 class="option-2 border-1"
					 [(Option)]="option"></app-option-edit>

	<div class="width-1">
		<div class="button-l border-1"
			 (click)="NewOption()">New Option</div>
	</div>
	}
</div>