<!------------------>
<!-- Option Group -->
<!------------------>
<div class="group full-width-1 border-1">
	<!-- Group Title -->
	<div class="full-width-1 vertical-margin-5 center"
		 (click)="expandGroup()">
		<h2>Group - {{ optionGroup.Title || "{ Unnamed }" }}</h2>
	</div>

	@if (this.expanded) {

	<!-- Group Title Input -->
	<div class="full-width-1 vertical-margin-5">
		<label class="width-1">Title</label>
		<br />
		<input type="text"
			   class="full-width-1"
			   [(ngModel)]="optionGroup.Title">

	</div>
	<!-- Group Header -->
	<div class="full-width-1 vertical-margin-5">
		<label class="width-1">Header</label>
		<br />
		<textarea name="HeaderText"
				  id="HeaderText"
				  class="full-width-1"
				  style="height: 150px;"
				  [(ngModel)]="optionGroup.HeaderText"></textarea>

	</div>
	<!-- Group Selection Limit -->
	<div class="full-width-1 vertical-margin-5">
		<label class="width-1">Selection Limit</label>
		<br />
		<input type="number"
			   class="full-width-5"
			   [(ngModel)]="optionGroup.SelectionLimit">
	</div>
	<div class="full-width-1 vertical-margin-5">
		<app-option-traits [(OptionGroup)]="optionGroup"></app-option-traits>
	</div>
	<!------------------>
	<!-- Option Items -->
	<!------------------>
	<div class="option-1 center">
		<h2>Options</h2>
	</div>

	<div *ngFor="let item of optionGroup.OptionItems"
		 class="option-2 border-1">

		<div class="full-width-1 vertical-margin-5">
			<label>Title
			</label>
			<br />
			<input type="text"
				   name="Title"
				   id="Title"
				   class="full-width-1"
				   [(ngModel)]="item.OptionTitle">
		</div>
		<div class="full-width-1 vertical-margin-5">
			<label class="full-width-1">Option Text
			</label>
			<br />
			<textarea name="HeaderText"
					  id="HeaderText"
					  class="full-width-1"
					  style="resize: vertical; height: 50px;"
					  [(ngModel)]="item.OptionText"></textarea>
		</div>
		<div class="full-width-1 vertical-margin-5">
			<label class="full-width-1">Traits
			</label>
			<br />
			<input type="text"
				   name="Traits"
				   id="Traits"
				   class="full-width-1"
				   [(ngModel)]="item.Traits">
		</div>
		<div class="width-1 vertical-margin-5">
			<div *ngIf="item.hasImage"
				 class="clearBorder center image-control"
				 [style.height]="item.MaxHeight + 'px'"
				 [style.width]="item.MaxHeight + 'px'">
				<img src="{{ item.ImageURL }}"
					 alt="{{ item.ImageText }}">
			</div>
		</div>
	</div>

	<div class="width-1">
		<div class="button border-1"
			 (click)="NewOption()">New Option</div>
	</div>
	}
</div>